.admission-banner {
  width: calc(100% + 40px);
  background: linear-gradient(90deg, #f2c328, #e1b31d);
  color: #fff;
  padding: 8px 0;
  overflow: hidden;
  font-weight: 700;
  font-size: 24px;
  z-index: 1;
  position: relative;
  margin: 0 -20px -32px -20px;
}

.banner-scroll {
  display: flex;
  animation: scroll 15s linear infinite;
}

.banner-scroll:hover {
  animation-play-state: paused;
}

.banner-scroll span {
  white-space: nowrap;
  padding: 0 40px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}